{% extends "layout.html" %}

{% block content %}
<div class="container" id="start">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to Tanga Pizza!</h1>
    <p class="lead">We aim to give you the best experience in pizza creation! let's begin your journey to become the next top <span style="text-transform: uppercase;">Pizza Artist&reg;</span>!</p>
    <p style="text-align: center;"><a class="btn btn-lg btn-success" href="#" role="button" id="lets-go">Let's go! &raquo;</a></p>
    <p style="text-align: center;"><a href="#" id="view-current-orders">View current orders</a></p>
  </div>
</div>
<div class="container" id="start-new-order" style="display: none;">
  <div class="jumbotron">
    <h3>let's start by giving your creation a name and a brief description!</h3>
    <div class="row" style="margin-top: 1.5em;">
      <form id="new-order">
        <div class="form-group row">
          <label for="pname" class="col-xs-2 col-form-label">pizza name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="pname" name="pname" placeholder="Name" />
          </div>
        </div>
        <div class="form-group row">
          <label for="pdesc" class="col-xs-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="pdesc" name="pdesc" placeholder="Description" style="resize: none;"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <p style="text-align: left;"><a class="btn btn-sm btn-default close" href="#" role="button" style="float: left; margin: 0.25em;">&laquo; Return</a></p>
          </div>
          <div class="col-sm-6">
            <p style="text-align: right;"><button type="button" class="btn btn-lg btn-success" href="#" role="button" id="save-this-pizza">Save it! &raquo;</button></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container" id="view-current-orders" style="display: none;">
  <div><a class="btn btn-sm btn-default close" href="#" role="button" style="float: left; margin: 0.25em;">&laquo; Return</a></div>
  <table class="table table-striped" id="current-orders">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Description</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div><a class="btn btn-sm btn-default close" href="#" role="button" style="float: left; margin: 0.25em;">&laquo; Return</a></div>
</div>

<div class="container" id="edit-current-order" style="display: none;">
  <div class="row"><p class="bg-warning" style="padding: 1em;">Due to restrictions in the API, editing of the id, name, and description of the pizza is disabled at the moment. Also toppings can only be added but not removed.</p></div>
  <div class="row">
    <form id="current-order">
      <div class="form-group row">
        <label for="pid" class="col-xs-2 col-form-label">ID</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="pid" name="pid" placeholder="ID" readonly="readonly" />
        </div>
      </div>
      <div class="form-group row">
        <label for="pname" class="col-xs-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="pname" name="pname" placeholder="Name" readonly="readonly" />
        </div>
      </div>
      <div class="form-group row">
        <label for="pdesc" class="col-xs-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="pdesc" name="pdesc" placeholder="Description" readonly="readonly" style="resize: none;"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="ptoppings" class="col-xs-2 col-form-label">Toppings&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Click into the box on the right to select or search for available toppings"></i></label>
        <div class="col-sm-10">
          <select class="form-control pizza-toppings-select" id="ptoppings" name="ptoppings" placeholder="Toppings" multiple="multiple" style="width: 100%;"></select>
        </div>
      </div>
      <div class="form-group row">
        <label for="pnewtopping" class="col-xs-2 col-form-label">Add your own topping</label>
        <div class="col-sm-10">
          <span style="display: inline-block;"><input type="text" class="form-control" id="pnewtopping" name="pnewtopping" placeholder="Add your own topping" /></span><span style="display: inline-block; margin-left: 3px;"><button type="button" class="btn btn-success btn-sm" id="pnewtopping-add">Add</button></span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <a type="button" class="btn btn-default btn-sm cancel" href="#" role="button">&laquo; Return</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
