{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted"><i class="fa fa-cutlery"></i>&nbsp;Tanga Pizza</h3>
  </div>

  <div class="jumbotron">
    <h1 class="display-3">Welcome to Tanga Pizza!</h1>
    <p class="lead">We aim to customize your pizza creation needs. let's begin your journey to become the next top <span style="text-transform: uppercase;">Pizza Artist&reg;</span>!</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>
</div>

{% endblock %}
